<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的第一个go_web页面</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/common.js"></script>
</head>
<body>
<h1>hello world</h1>
<!--获取后端的数据为-->
{{.msg}}

<form action="/user/add" method="post">
    <p>username: <input type="text" name="user_name"></p>
    <p>pwd: <input type="text" name="pwd"></p>
<button type="submit">提交</button>
</form>
</body>
</html>